/*navbar*/
.w3-whiti {
    background-color: #f7ccca;
}
.containera {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

/*contact*/
.w3-darki-grey{
    background-color: #f9c1ba;
}

.containera::after {
  content: "";
  clear: both;
  display: table;
}

.containera img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.containera span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .containera {
      text-align: center;
  }
  .containera img {
      margin: auto;
      float: none;
      display: block;
  }
}